<%- include header.ejs %>
<body>
  <form id=form method="post" action="/up" enctype="multipart/form-data">

    <div class="row">
      <div class="col-12" style="margin: 10px 10px">
        <h4>Adicionando artigos</h4>
      </div>
    </div>
  <style>
    label{
      font-weight: bold;
    }
    input[type=text]{
      font-size: 17px;
    }
  </style>
    <div class="row">
      <div class="large-6 columns">
        <input id="user_id" name="user_id" type="hidden" value="<%=user_id%>"  >
        <input id="id" name="id" type="hidden" value="<%=artigo.id%>"  >
      </div>
    </div>

    <div class="row">

      <div class="large-3 columns">

          <label for="imagem" >Imagem</label>
            <div id="divServerResponse">
           <%
           if (artigo.img){
           %>
            <img id=formImg src=/uploads/<%=artigo.img%> style="width:260px" class="thumbnail">
           <%
           }
           %>
         </div>
            <input type="hidden" id="img_" name="img_" value="<%=artigo.img%>">
            <input style="padding-top:10px" type="file" id="img" name="img" accept="image/*">
          </label>

      </div>


      <div class="large-9 columns">
        <div class="row">
          <div class="large-4 columns">
          <label for="titulo" >Título
            <input id="title" name="title" type="text" value="<%=artigo.title%>"  required="required" >
          </label>
        </div>
          <div class="large-4 columns">
          <label for="data" >Data</label>
            <input id="date" name="date" type="date" required="required"  value="<%=artigo.date%>"  >
          </label>
        </div>
          <div class="large-4 columns">
          <label for="horario" >Horário</label>
            <input id="time" name="time" type="time" required="required"  value="<%=artigo.time%>"  >
          </label>
        </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
          <label for="farda" >Farda</label>
            <input id="farda" name="farda" type="text" required="required"  value="<%=artigo.farda%>"  >
          </label>
        </div>
          <div class="large-4 columns">
          <label for="hinario" >Hinário</label>
            <input id="hinario" name="hinario" type="text"  value="<%=artigo.hinario%>"  >
          </label>
        </div>
          <div class="large-4 columns">
          <label for="price" >Contribuição</label>
            <input id="price" name="price" type="text"  value="<%=artigo.price%>"  >
          </label>
        </div>
        </div>
        <div class="row">

          <div class="large-12 columns">
            <label for="obs" >Obs
              <textarea style="font-size:22px; width:100%; height:100px;" id="obs" name="obs"  ><%=artigo.obs%></textarea>
            </label>
          </div>
        </div>


     <div class="row">

       <div class="large-12 columns">
         <button class=button type="button" onclick="resizeAndSendToServer()">Salvar</button>
         <button class=button type="button" onclick="javascript:history.go(-1)">Cancelar</button>
      </div>
    </div>
  </div>
</div><br><br>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <script src="https://www.marvinj.org/releases/marvinj-0.8.js"></script> -->
  <script src="js/load-image.all.min.js"></script>

  <script>
  form = new FormData();
  document.getElementById('img').onchange = function (e) {

      loadImage(
        e.target.files[0],
        function (file) {
          // document.body.appendChild(file);
          var formImg = document.getElementById('formImg');
          if (formImg) formImg.style.visibility = 'hidden';
          $("#divServerResponse").html(file);

          console.log("file.toDataURL():", file.toDataURL());
          form.delete('name');
          form.delete('blob');
          form.append('name', e.target.files[0].name);
          form.append('blob', file.toDataURL());
        },
        {maxWidth: 270, orientation: true,
        canvas: true,
        downsamplingRatio:0.5} // Options
      );
    };


      function resizeAndSendToServer(){
        // Checks da date
        d = new Date(Date.now()).getDate().toString()
        m = (new Date(Date.now()).getMonth()).toString()
        y = new Date(Date.now()).getFullYear().toString()


        var date_today = new Date(y,m,d);

        mydate=new Date(document.getElementById('date').value.split('-').join(','));

        if(1==1){
          $("#divServerResponse").html("uploading...");
          form.append('user_id', document.getElementById('user_id').value);
          form.append('id', document.getElementById('id').value);
          form.append('title', document.getElementById('title').value);
          form.append('date', document.getElementById('date').value);
          form.append('time', document.getElementById('time').value);
          form.append('farda', document.getElementById('farda').value);
          form.append('hinario', document.getElementById('hinario').value);
          form.append('price', document.getElementById('price').value);
          form.append('obs', document.getElementById('obs').value);
          form.append('img_', document.getElementById('img_').value);
        	$.ajax({
        		method: 'POST',
        		url: '/up',
        		data: form,
        		// enctype: 'multipart/form-data',
        		contentType: false,
        		processData: false,


        		success: function (resp) {
              $("#divServerResponse").html("SERVER RESPONSE (NEW IMAGE):<br/>");
              location.href="/article_show?user_id=" + document.getElementById('user_id').value + "&id="+resp
            },
        		error: function (data) {
        			console.log("error:"+error);
        			console.log(data);
        		},

        	});
        }else{
          alert("Erro: A data já venceu")
          document.getElementById('date').focus()
        }
      };
  </script>
</body>
<%- include footer.ejs %>
