<%- include header.ejs %>
<div class="row">
  <div class="large-12 columns" style="margin-bottom: 50px;">
    <h4><%=data.title%></h4>
    <div style="float: left; margin-right: 20px;">
      <%-help.call_img(data.img)%>
    </div>
    <p><%=data.body%></p>
    <br>
    <br>
    <%if (logged) {%>
      <button class=button onclick="location.href='/text/edit?user_id=<%=user_id%>&title=Drive&id=drive_virtual'">Editar</button>
    <%}%>
    <br><Br>
  </div>
</div>
<%- include footer.ejs %>
