<div class="row column">
  <h4><%- content.text.call_byId('footer').title%></h4>
  <%-help.call_img(content.text.call_byId('footer').img)%><br>
  <%= content.text.call_byId('footer').body  %><br>
  <%if (logged) {%>
    <button class=button onclick="location.href='/text/edit?user_id=<%=user_id%>&title=Footer&id=footer'">Editar</button>
  <%}%>
</div>
<div class="row column">
  <h4><%- content.text.call_byId('articles').title%></h4>
  <%-help.call_img(content.text.call_byId('articles').img)%><br>
  <%= content.text.call_byId('articles').body  %><br>
  <%if (logged) {%>
    <button class=button onclick="location.href='/text/edit?user_id=<%=user_id%>&title=Footer&id=footer'">Editar</button>
  <%}%>
</div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
