<%- include header.ejs %>


<!-- <hr> -->
<div class="row column"><br>
<!-- <h4 style="margin-top:20px; margin-bottom:20px;">Calendário</h4> -->

<%if (logged) {%>
  <a href='/article_create?user_id=<%=user_id%>'>[Novo]</a>
<%}%>
</div>
<!-- <hr> -->
<div class="row">
<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">



<article>
  <div class="row column" style="margin-bottom: 15px;">
    <h4 >Calendário</h4>
  </div>
  <%
   artigos.sort(function(a, b){return new Date(a.date) - new Date(b.date)});
   artigos.forEach(function(item, key, arr){
  %>



  <div class="row">
    <%
    cc = 8
    if (item.img.length > 0){
    %>
    <div class="large-4 columns">
      <p><img src="/uploads/<%=item.img%>" alt="image for article" class="thumbnail"></p>
    </div>
    <%
    }else{
      cc = 12
    }
    %>
    <div class="large-<%=cc%> columns">
      <h5><a href="/article_show?user_id=<%=user_id%>&id=<%=item.id%>" ><%=item.title%></a></h5>


      <table>

        <tbody>
          <tr>
            <td align="right"><b>Data</b></td>
            <td><%=item.date.split("-").reverse().join("/")%> - <%=item.time%></td>
          </tr>
          <tr>
            <td align="right"><b>Farda</b></td>
            <td><%=item.farda%></td>
          </tr>
          <tr>
            <td align="right"><b>Hinário</b></td>
            <td><%=item.hinario%></td>
          </tr>
          <tr>
            <td align="right"><b>Contribuição</b></td>
            <td><%=item.price%></td>
          </tr>
          <tr>
            <td align="right" colspan="2"><%=item.obs%></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <%
  if (!Object.is(arr.length - 1, key)) {
  %>
    <hr>
  <%
  }
  %>




<%})%>

<br>


</article>




</div>
<div class="large-4 columns">

<aside>
<div class="row column">
  <div class="row column" style="margin-bottom: 15px;">
    <h4 >Mensagem aos visitantes</h4>
    <h5>(1ª vez no Céu do Mar)</h5>
  </div>

<p><a href="">Mensagem do Padrinho aos visitantes</a>

<p>Visitantes só podem participar dos trabalhos após terem feito a entrevista de novos, em dia anterior ao trabalho.

<p>As entrevistas acontecem todas as quintas-feiras e domingos na Igreja, logo após a Oração do Padrinho Sebastião que é cantada às 18:00h.

<p>Não é necessário marcar, basta comparecer nos dias definidos. Nas quintas e domingos que coincidam com datas de trabalho, não haverá entrevista.

<p>Trajes para a entrevista/trabalho:<br>
Feminino – Saia abaixo do joelho e camisa sem decote.<br>
Masculino – Calça comprida e camisa de manga longa ou curta.
</div>
</aside>
</div>
</div>



<%- include footer.ejs %>
